:root{

    --card-scale:0.8;

}

.profile-card{

    width:calc(390px * var(--card-scale));

    background:white;

    border:0.8px solid #888;

    display:flex;

    flex-direction:column

}

.card-header{

    background:#222;

    color:white;

    text-align:center;

    padding:calc(18px * var(--card-scale));

    font-size:28px;

    font-weight:bold;

}

.card-image{

    height:calc(520px * var(--card-scale));

    flex-shrink:0;

    background:#d8d8d8;

    background-repeat:no-repeat;

    background-position:center;

}

.card-table{

    padding:20px;

    min-height:180px;

}

.kr-name{

    font-size:calc(23px * var(--card-scale));

    font-weight:bold;

    text-align:center;

}

.sub-name{

    margin-top:calc(8px * var(--card-scale));

    text-align:center;

    font-size:calc(17px * var(--card-scale));

}

.profile-table{

    width:100%;

    border-collapse:collapse;

}

.profile-table th{

    width:calc(120px * var(--card-scale));

    background:#333;

    color:white;

    padding:8px; /*calc*/

    font-size:14px; /*calc*/

}

.profile-table td{

    padding:8px; /*calc*/

    font-size:14px; /*calc*/

}

.profile-table th,
.profile-table td{

    border-bottom:1px solid #d8d8d8;

}

.profile-table tr:last-child th,
.profile-table tr:last-child td{

    border-bottom:none;

}