#preview{

    flex:1;

    overflow:auto;

    display:flex;

    justify-content:center;

    padding:24px;

    align-items:flex-start;

    font-family:Pretendard,sans-serif;

}

#exportArea{

    width:max-content;

    padding:40px;

    margin-bottom:20px;

    background:#ececec;

}

#cardContainer{

    display:flex;

    justify-content:center;
    
    gap:22px;

    align-items:flex-start;

    width:max-content;

}

#categoryPreview{

    width:100%;

    box-sizing:border-box;

    margin-bottom:18px;

    padding:10px 14px;

    border:1px solid #d4d4d4;

    background:#f8f8f8;

    font-size:calc(18px * var(--card-scale));

}

.category-text{

    color:#3273d1;

}

#previewZoom{

    display:flex;
    justify-content:center;

    width:100%;

    transform-origin:top center;

}

@media (max-width:768px){

    :root{

        --card-scale:0.6;

    }

    #preview{

        justify-content:center;
        overflow-x:hidden;
        overflow-y:auto;

    }

    #cardContainer{

        justify-content:center;

    }

    #exportArea{

        padding:20px;

    }

    #previewZoom{

        transform:scale(.55);

        width:max-content;
        

    }

}